[submodule "mixtureDist"]
	path = dependencies/mixtureDist
	url = ../nkschaefer/mixtureDist.git
[submodule "htswrapper"]
	path = dependencies/htswrapper
	url = ../nkschaefer/htswrapper.git
[submodule "dependencies/optimML"]
	path = dependencies/optimML
	url = ../nkschaefer/optimML.git
