params{
    threads = 2
    kmers = null
    whitelist = null
    output_directory = null
    demux_reads = true
    num_chunks = 100
    rna_dir = null
    libs = null
    atac_dir = null
    atac_map = null
    whitelist_atac = null
    custom_dir = null
    custom_map = null
    append_libname = true
    cellranger = false
    seurat = false
    underscore = false
    demux_pieces = true
}

cleanup = true

manifest{
    homePage = "https://github.com/nkschaefer/cellbouncer"
    author = "Nathan Schaefer"
}

